.section {
    background-color: #F5F5F5;
}

.navbar {
    margin-bottom: 0px;

}

.table > thead:nth-child(1) > tr:nth-child(1) {
    border: hidden !important;
}

th {
    font-size: 9px;
}

.table > tbody > tr > td.content-align {
    padding-top: 1.6rem;
}

.tab-pane {
    color: black;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 12%;
    margin-bottom: 12%;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #9A9A9A;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    width: 10px;
    height: 10px;
    border: none;
    font-family: 'Glyphicons Halflings';
}

.bootstrap-select.btn-group .dropdown-toggle .caret:before {
    content: "\e003";
}

.form-control {
    background-color: white !important;
    height: 48px !important;
    font-size: 0.95em;
}

table.dataTable {
    border-collapse: collapse !important;
}

#searchBar {
    background-image: url('../img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 8px 20px 8px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.modal-body {
    margin-left: 15%;
}

#aliments_info {
    color: #868e96 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #81C784 !important;
    border-color: #81C784 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #81C784 !important;
    border-color: #81C784 !important;
}

